<p>
  <mat-toolbar color="primary">
    <button (click)="toggleCollapse()" cButton mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div [hidden]="visible" cCollapse>
        <p style="position: absolute; ">je suis la</p>
    </div>
    <span>Musique de ouf</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
