<p>
  <mat-toolbar color="primary">
    <button class="menu" (click)="toggleCollapse()" cButton mat-icon-button class="example-icon dropdown-menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="menu-dropdown" [hidden]="visible" cCollapse>
      <span class="list-dropdown"><svg width="15" height="15" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 12h14"></path>
      </svg><a [routerLink]="['']">Mes musiques</a></span>
      <span class="list-dropdown"><svg width="15" height="15" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 12h14"></path>
      </svg><a [routerLink]="['/login']">Connexion</a></span>
      <span class="list-dropdown"><svg width="15" height="15" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 12h14"></path>
      </svg><a [routerLink]="['/register']">Creer un compte</a></span>
      <span class="list-dropdown"><svg width="15" height="15" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 12h14"></path>
      </svg><a (click)="logOut()">Se déconnecter</a></span>
    </div>
    <span>Musique de ouf</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
