

.singer{
  color: black;
}
h1{
  text-align: center;
  margin: 30px;
  font-size: 3rem;
}




*{
  font-family: "Barlow", sans-serif!important;
}
.btn-detail:hover{
  background-color: #ea3c86;
  transition: ease-in-out 0.3s;
  font-size: 1.1rem;
}

